<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>15Puzzle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6AB5C6481E519D7F00CFF006</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AB5C65C1E519D7F00CFF006</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AB5C6671E519D8000CFF006</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
